<div class="container">
  <div class="myclass">
    <h1>こんにちは</h1>
    <h2>こんにちは</h2>
  </div>
  <br>
  <!-- rawは行。このすぐ後ろにclass="col-sm"のdivを持ってこないと行の中の列の扱いにならないよ！他のdivを入れてはいけない。 -->
  <div class="row">
    <div *ngFor   ="let product of products; let productId = index" class="col-sm">
      <!-- 絶対パスから相対パスへ変更 -->
      <a [routerLink]="[ productId ]">
        <div class="card">
          <img src="{{product.coverImage}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
